<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboardstyle.css">
<style>
  h2 {
  color: #333333;
  position: absolute;
  font-size: 25px;
  top: 150px;
  left: 150px;
  }
</style>
</head>

<button class = "logoutbutton">Log Out</button>
  
<img src = "https://i.imgur.com/Z9fdh0a.png" alt = "EquaLearn Logo" height = "50" style = "float:left">

<h1> Executive Dashboard </h1>
<div class="rectangle"></div>
<h2> Client applications </h2>

<!-- BUTTONS -->
<button class = "button1" style = "button;">Back</button>
<button class = "editprofilebutton" style = "button;">Edit Profile</button>

<!-- TABLE -->
    <div class="tableFixHead">
      <table>
        <thead>
   <tr>
    <th>Parent's name</th>
    <th>Child's name</th>
    <th>Grade</th>
    <th>School</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Documentation</th>
    <th>Preference</th>
    <th>Approve</th>
  </tr>
  <tr>
    <td><center>Sarah Tran</center></td>
    <td><center>Amy Tran</center></td>
    <td><center>2</center></td>
    <td><center>Ted Harrison School</center></td>
    <td><center>sarahtran@gmail.com</center></td>
    <td><center>587-123-4567</center></td>
    <td><center>Uploaded</center></td>
    <td><center>Online</center></td>
    <td><center><button class = "tablebutton">Approve</button></center></td>
  </tr>
   <tr>
    <td><center>Sarah Tran</center></td>
    <td><center>Amy Tran</center></td>
    <td><center>2</center></td>
    <td><center>Ted Harrison School</center></td>
    <td><center>sarahtran@gmail.com</center></td>
    <td><center>587-123-4567</center></td>
    <td><center>Uploaded</center></td>
    <td><center>Online</center></td>
    <td><center><button class = "tablebutton">Approve</button></center></td>
  </tr>
  <tr>
    <td><center>Sarah Tran</center></td>
    <td><center>Amy Tran</center></td>
    <td><center>2</center></td>
    <td><center>Ted Harrison School</center></td>
    <td><center>sarahtran@gmail.com</center></td>
    <td><center>587-123-4567</center></td>
    <td><center>Uploaded</center></td>
    <td><center>Online</center></td>
    <td><center><button class = "tablebutton">Approve</button></center></td>
  </tr>
    <tr>
    <td><center>Sarah Tran</center></td>
    <td><center>Amy Tran</center></td>
    <td><center>2</center></td>
    <td><center>Ted Harrison School</center></td>
    <td><center>sarahtran@gmail.com</center></td>
    <td><center>587-123-4567</center></td>
    <td><center>Uploaded</center></td>
    <td><center>Online</center></td>
    <td><center><button class = "tablebutton">Approve</button></center></td>
  </tr>
    <tr>
    <td><center>Sarah Tran</center></td>
    <td><center>Amy Tran</center></td>
    <td><center>2</center></td>
    <td><center>Ted Harrison School</center></td>
    <td><center>sarahtran@gmail.com</center></td>
    <td><center>587-123-4567</center></td>
    <td><center>Uploaded</center></td>
    <td><center>Online</center></td>
    <td><center><button class = "tablebutton">Approve</button></center></td>
  </tr>
    <tr>
    <td><center>Sarah Tran</center></td>
    <td><center>Amy Tran</center></td>
    <td><center>2</center></td>
    <td><center>Ted Harrison School</center></td>
    <td><center>sarahtran@gmail.com</center></td>
    <td><center>587-123-4567</center></td>
    <td><center>Uploaded</center></td>
    <td><center>Online</center></td>
    <td><center><button class = "tablebutton">Approve</button></center></td>
  </tr>
        </tbody>
      </table>
    </div>
  
</body>
</html>
