<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboardstyle.css">
<style>
  
</style>
</head>

<button class = "logoutbutton">Log Out</button>
  
<img src = "https://i.imgur.com/Z9fdh0a.png" alt = "EquaLearn Logo" height = "50" style = "float:left">

<h1> Client Dashboard </h1>
<div class="rectangle"></div>

<!-- BUTTONS -->
<button class = "button1" style = "button;">Edit Students</button>
<button class = "editprofilebutton" style = "button;">Edit Profile</button>

<!-- TABLE -->
    <div class="tableFixHead">
      <table>
        <thead>
              <tr>
    <th>Student</th>
    <th>Volunteer</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Subject</th>
    <th>Status</th>
    <th>Cancel?</th>
  </tr>
  <tr>
    <td>John Doe</td>
    <td>Vivian Huynh</td>
    <td>March 28 2021</td>
    <td>10:00-12:00</td>
    <td>Online</td>
    <td>Math 10</td>
    <td>In Future</td>
    <td><button class = "tablebutton">Cancel Meeting</button></td>
  </tr>
  <tr>
    <td>Jane Doe</td>
    <td>Vivian Huynh</td>
    <td>March 22 2021</td>
    <td>1:00-2:00</td>
    <td>Calgary Public Library</td>
    <td>Physics 30</td>
    <td>In Future</td>
    <td><button class = "tablebutton">Cancel Meeting</button></td>
  </tr>
  <tr>
    <td>John Doe</td>
    <td>Joweria Ekram</td>
    <td>March 21 2021</td>
    <td>10:00-12:00</td>
    <td>Online</td>
    <td>Math 10</td>
    <td>Verified</td>
    <td><button class = "tablebutton">Cancel Meeting</button></td>
  </tr>
  <tr>
    <td>Jim Doe</td>
    <td>None</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>Science 10</td>
    <td>Waiting for match...</td>
    <td>---</td>
  </tr>
        </tbody>
      </table>
    </div>
  
</body>
</html>
