<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type = "text/css" href="{% static 'equalearndb/dashboardstyle.css' %}">
<style>
  
</style>
</head>

<button class = "logoutbutton">Log Out</button>
  
<img src = "https://i.imgur.com/Z9fdh0a.png" alt = "EquaLearn Logo" height = "50" style = "float:left">

<h1> Edit Subjects</h1>
<div class="rectangle"></div>

<!-- BUTTONS -->
<a href = "editstudents"><button class = "button1">Edit Students</button></a>
<button class = "editprofilebutton">Add Subject</button>

<!-- TABLE -->
    <div class="tableFixHead">
      <table>
        <thead>
                <th>Subject Name</th>
                <th>Grade Level</th>
                <th>End Date</th>
                <th>Change End Date</th>
        </thead>
        <tbody>
            {% for take in takes %}
            <tr style="text-align: center;">
                <td style="text-align: center;">{{take.getcoursename}}</td>
                <td style="text-align: center;">{{take.getcourselevel}}</td>
                <td style="text-align: center;">{{take.getenddate}}</td>
                <td style="text-align: center;"><button class = "tablebutton">Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  
</body>
</html>
