<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="editprofilestyle.css">
<style>
</style>
</head>

<button class = "logoutbutton">Log Out</button>
  
<img src = "https://i.imgur.com/Z9fdh0a.png" alt = "EquaLearn Logo" height = "50" style = "float:left">

<h1> Edit Profile </h1>
<div class="rectangle"></div>

<!-- BUTTONS -->
<button class = "backbutton" style = "button;">Back</button>

<!--  FORM -->
<div>
  <b>
  <form id="form" action="/action_page.php">
    <label for="fname">First Name</label>
    <input class="form-control" type="text" value="Jenny">

    <label for="lname">Last Name</label>
    <input class="form-control" type="text" value="Doe">
    
    
    <label for="email">Email</label>
    <input class="form-control" type="text" value="jennydoe@gmail.com">
    
    <label for="phone">Phone number</label>
    <input class="form-control" type="text" value="123-123-4567">
    
     <label for="password">Password</label>
    <input class="form-control" type="password" value="11111122333">
    
    <label for="password">Confirm password</label>
    <input class="form-control" type="password">
  
    <input type="submit" value="Save changes">
    <input type="reset" class="btn btn-default" value="Cancel">
  </form>
</div>
<!-- END OF FORM -->
  
</body>
</html>
