<!DOCTYPE html>
<html lang="en">

<head>
    <title>Equalearn Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href="login.css">

</head>
<body>
    <div>
    <div class="container" id="formd">
        <img id = "logo" src = "loginequalearnlogo.png" alt = "EquaLearn Logo" style = "float:center; height:72px">
        <form method="GET">
            <br>
            <input style="border-color: teal;" type="email" id ="username" placeholder="Username" name = "username" required><br>
            <input style="border-color: teal;" type="password" placeholder="Password" name = "psw" required><br>
            <div>
                <button type="submit" style="text-align: center;">Login</button>
            </div>
        </form>
        <form>
        Don't have an account?
        <a href="signup.html" style="color: black; background-color: white; border-color: white; font-style: italic;">Sign up.</a> <br>
        <a href="changepassword.html" style="color: black; background-color: white; border-color: white;">Forgot Password?</a>
        </form>
    </div>
    </div>
</body>