<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type = "text/css" href="{% static 'equalearndb/dashboardstyle.css' %}">
<style>

.signupbutton {
  position: absolute;
  top: 160px;
  right: 180px;
  border: none;
  background-color:#44aa00;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px
}

td {
  text-align: center;
}
</style>
</head>

<a href = "{% url 'logout'%}"><button class = "logoutbutton">Log Out</button></a>

<img src = "https://i.imgur.com/Z9fdh0a.png" alt = "EquaLearn Logo" height = "50" style = "float:left">

<h1> Sign Up For Sessions </h1>
<div class="rectangle"></div>

<!-- BUTTONS -->
<a href = "{% url 'volunteer_hours' id=tutor.User_ID %}"><button class = "button1" style = "button;">Hours</button></a>
<a href = "{% url 'volunteer_dashboard' id=tutor.User_ID %}"><button class = "signupbutton" style = "button;">Back to Dashboard</button></a>
<!-- <button class = "editprofilebutton" style = "button;">Edit Profile</button> -->

<!-- TABLE -->
    <div class="tableFixHead">
      <table>
        <thead>
   <tr>
    <th>Client Email</th>
    <th>Subject</th>
    <th>End Date</th>
    <th>Location</th>
    <th>Times</th>
    <th>Accept?</th>
  </tr>
        </thead>
        <tbody>
          {% for take in takes %}
            <tr>
              <td> {{take.getclientemail}}</td>
              <td> {{take.getcoursename}} {{take.getcourselevel}} </tds>
              <td> {{take.end_date}}</td>
              <form action = "{% url 'sessions_signed_up' tid=tutor.User_ID takeid=take.takes_id%}" method = POST><td>{% csrf_token %} <select name = 'chooseloc'>
                  <option></option>
                  {% for loc in student_locations%}
                    {% if loc.student_name == take.student_name %}
                    <option>{{loc.loc}}</option>
                    {% endif %}
                  {% endfor %}
                </select></td>
              <td><select name = 'choosetime'>
                  <option></option>
                {% for timeslot in schedules %}
                  {% if timeslot.student == take.student_name %}
                    <option>{{timeslot.gettimeslot}}</option>
                  {% endif %}
                {% endfor %}
              </select></td>
              <td><button class = "tablebutton" type = "submit">Accept</button></td></form>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

</body>
</html>
