<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Equalearn Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="{% static 'equalearndb/signup.css' %}">

</head>
<body>
  <div>
  <div class="container" id="formd">
      <img id = "logo" src = "{% static 'equalearndb/loginequalearnlogo.png' %}" alt = "EquaLearn Logo" style = "float:center; height:72px">
 
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
  </div>
  </div>
</body>


<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Equalearn Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="{% static 'equalearndb/signup.css' %}">

</head>
<body>
    <div>
    <div class="container" id="formd">
        <img id = "logo" src = "{% static 'equalearndb/loginequalearnlogo.png' %}" alt = "EquaLearn Logo" style = "float:center; height:72px">
        <form method="POST" action="{% url 'signup' %}"> {% csrf_token %}
            <br>
            <input style="border-color: teal;" type="username" id ="username_u" placeholder="Username" name = "username" required><br>
            <input style="border-color: teal;" type="email" id ="email_u" placeholder="User Email" name = "email" required><br>
            <input style="border-color: teal;" type="password" placeholder="Password" name = "password" required><br>
            <div class="container">
                <span class="choose">Choose User Type</span>
                <select name = "usertype">
                  <option>Parent/Guardian</option>
                  <option>Tutor</option>
                  <option>Executive</option>
                </select>
                <span class = "msg"></span>
            </div>

            <br>
            <br>
            <div>
                <button type="submit" style="text-align: center;">Next Page</button>
            </div>
        </form>
    </div>
    </div>
</body>  -->