<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type = "text/css" href="{% static 'equalearndb/dashboardstyle.css' %}">
<style>

.signupbutton {
  position: absolute;
  top: 160px;
  right: 180px;
  border: none;
  background-color:#44aa00;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px
}

td {
  text-align: center;
}
</style>
</head>

<button class = "logoutbutton">Log Out</button>

<img src = "https://i.imgur.com/Z9fdh0a.png" alt = "EquaLearn Logo" height = "50" style = "float:left">

<h1> Volunteer Dashboard </h1>
<div class="rectangle"></div>

<!-- BUTTONS -->
<button class = "button1" style = "button;">Hours</button>
<button class = "signupbutton" style = "button;">Sign up</button>
<button class = "editprofilebutton" style = "button;">Edit Profile</button>

<!-- TABLE -->
    <div class="tableFixHead">
      <table>
        <thead>
   <tr>
    <th>Student</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Subject</th>
    <th>Status</th>
    <th>Cancel?</th>
  </tr>
        </thead>
        <tbody>
          {% for session in sessions %}
            <tr>
              <td>
                {{session.getstudent}}
              </td>
              <td> {{session.date}} </td>
              <td> {{session.start_time}} - {{session.end_time}}</td>
              <td> {{session.location}} </td>
              <td> {{session.getcoursename}} {{session.getcourselevel}} </td>
              <td> {{session.status}} </td>
              <td> <button class = "tablebutton">Cancel Meeting</button> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
<!--  <tr>
    <td><center>John Doe</center></td>
    <td><center>March 28 2021</center></td>
    <td><center>10:00-12:00</center></td>
    <td><center>Online</center></td>
    <td><center>Math 10</center></td>
    <td><center>In Future</center></td>
    <td><center><button class = "tablebutton">Cancel Meeting</button></center></td>
  </tr>
  <tr>
    <td><center>Bob Smith</center></td>
    <td><center>March 25 2021</center></td>
    <td><center>3:00-5:00</center></td>
    <td><center>Online</center></td>
    <td><center>Math 10</center></td>
    <td><center>Unverified</center></td>
    <td><center><button class = "tablebutton">Cancel Meeting</button></center></td>
  </tr>
  <tr>
    <td><center>Jane Doe</center></td>
    <td><center>March 22 2021</center></td>
    <td><center>1:00-2:00</center></td>
    <td><center>Calgary Public Library</center></td>
    <td><center>Physics 30</center></td>
    <td><center>Verified</center></td>
    <td><center><button class = "tablebutton">Cancel Meeting</button></center></td>
  </tr>
        </tbody>
      </table> -->
    </div>

</body>
</html>
